@charset "UTF-8";

body { background-color: aliceblue;
       font-family: Arial; font-size: 20px
}
h1 { color: rgba(209, 209, 209);
 text-align: center; background-color: black;
}
h2 { background-color: rgb(209, 209, 209);
}
h3 { text-align: right; font-family: sans-serif; font-size: medium;}